<!DOCTYPE html>
<html lang="en" ng-app="youtubePlayer">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Radio Player</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <!-- Custom styles for this template -->
    <style type="text/css">
        body {
            padding-top: 5rem;
        }

        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }

    </style>
</head>


<body ng-controller="youtubePlayerController">


    <!--    <iframe ng-src="{{video | trusted}}" frameborder="0" width="420" height="315" allowfullscreen></iframe>-->
    <div class="container-fluid text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="jumbotron">
                        <form ng-submit="search(true)">
                            <input type="text" ng-model="query" class="form-control">
                        </form>
                        <br>
                        <button class="btn btn-success">Search Video</button>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-6" ng-repeat="video in results track by $index" ng-click="modal.show(); launch(video, true)">
                                <div class="well">
                                    <img ng-src="{{ video.thumbnail }}" style="float: left;">
                                    <h5>{{video.title}}</h5>
                                    <p>{{video.description}}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-6">
                    <div class="jumbotron">
                        <input type="text" ng-model="videoInput" class="form-control">
                        <br>
                        <button ng-click="addVideo()" class="btn btn-success">Add Video</button>
                    </div>
                    <div class="container">
                        <div id="player">
                            <div id="placeholder" style="width: 100%;height: 400px;"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12" ng-repeat="video in videos track by $index">
                                <iframe ng-src="{{video.url | trusted}}" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>
    <!-- /.container -->
    <!--
    <div class="left">
        <img class="thumbnail" >
    </div>
    <div class="center">
        <div class="title">
            {{ video.title }}
        </div>
        <div class="user">
            <ons-icon icon="fa-user"></ons-icon><span style="font-size: 12px"> {{ video.author ? video.author : "Anonymous" }}</span>
        </div>
        <div class="desc">
            {{ video.description }}
        </div>
    </div>
-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="app.js"></script>


</body>

</html>
